@supports (-webkit-background-clip: text) or (background-clip: text) {
  .text-rainbow {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-slide 8s linear infinite;
    background-size: 300% 100%;
    background-image: linear-gradient(
      90deg,
      theme('colors.green') 0%,
      theme('colors.cyan') 20%,
      theme('colors.pink') 40%,
      theme('colors.green') 60%,
      theme('colors.green') 80%,
      theme('colors.green')
    );
  }

  @keyframes rainbow-slide {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@font-face {
  font-family: 'OktaNeue';
  src: url('/fonts/OktaNeue/OktaNeue-Light.otf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'OktaNeue';
  src: url('/fonts/OktaNeue/OktaNeue-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'OktaNeue';
  src: url('/fonts/OktaNeue/OktaNeue-Medium.otf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'OktaNeue';
  src: url('/fonts/OktaNeue/OktaNeue-Bold.otf');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'OktaNeue';
  src: url('/fonts/OktaNeue/OktaNeue-Heavy.otf');
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}

* {
  font-family: 'OktaNeue';
}
